
/** imports */
@import '@style-assets';

/** styles */
.popup {
  background: $popup-background;
  padding: 28px design-relative-padding() 0;
  position: relative;

  &-container {
    padding: 0 32px;
    overflow: hidden;
    width: 616px;
    transform: translateX(-50%);
    -x-position: absolute x x x 50%;
  }
}