
/** imports */
@import '@style-assets';

/** styles */
.app {
  color: $primary;
  position: relative;

  &-page, &-popup {
    -x-position: absolute 0 x x 0;
  }
  &-popup {
    display: none;
    z-index: 9999;

    &.is-open {
      display: block;
      -x-size: 100%;
    }
  }
}