
/** imports */
@import '@style-assets';

/** styles */
.container {
  background: {
    image: url('/images/login-bg.jpg');
    size: cover;
    repeat: no-repeat;
  };
  position: relative;

  &-logo {
    color: $primary;
    z-index: 9;
    -x-position: absolute 32px x x design-relative-padding();
  }
  &-bg-shadow {
    //background: rgba($color: #FAFAFA, $alpha: 0.24);
    z-index: 1;
    -x-position: absolute 0 x x 0;
  }
}