
/** variables */

// colors
$primary: #6E41E2;
$primary-hover: #5835B0;
$primary-active: #472C8A;

$primary-red: #DB524E;
$primary-red-girl: #F9E3E3;

$white: #fff;

$black: #111;
$shadow: #333;

$gray: rgba($black, 0.48);

// shadow
$default-shadow: 0 4px 4px rgba($shadow, 0.04), 0 4px 16px rgba($shadow, 0.08);
$hover-shadow: 0 4px 4px rgba($shadow, 0.04), 0 4px 16px rgba($shadow, 0.16);
$error-shadow: 0 4px 4px rgba(255, 196, 196, 0.04), 0 4px 40px rgba(255, 196, 196, 0.24);

// border-radius
$main-border-radius: 4px;
$frame-border-radius: 8px;
$circle-border-radius: 50%;

// sizes
$design-window-width: 1366;
$design-window-padding: 51;

/** functions */
@function design-relative-padding() {
  @return $design-window-padding / $design-window-width * 100%;
}