
/** imports */
@import './assets.scss';

/** border-radius */
[data-class~="mbr"] { // main-border-radius
  border-radius: $main-border-radius;
}
[data-class~="fbr"] { // frame-border-radius
  border-radius: $frame-border-radius;
}
[data-class~="circle"] {
  border-radius: 50%;
}

/** box-shadow */
[data-class~="bsh"] { // box-shadow
  box-shadow: $default-shadow;
  transition: .4s;

  &:hover {
    box-shadow: $hover-shadow;
  }
}

/** box-sizing */
[data-class~="bs"] {
  box-sizing: border-box;
}

/** colors */
[data-class~="white"] {
  background: $white;
}

/** flex */
[data-class~="flex"] {
  display: flex;
}
[data-class~="fac"] { // flex-align-center
  display: flex;
  align-items: center;
}
[data-class~="fsb"] { // flex-space-between
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[data-class~="fc"] { // flex-center
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-class~="fcc"] { // flex-center-column
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/** position */
[data-class~="ptc"] { // position-top-center
  top: 50%;
  transform: translateY(-50%);
}
[data-class~="pc"] { // position-center
  transform: translate(-50%, -50%);
  -x-position: absolute 50% x x 50%;
}

/** sizes */
[data-class~="full"] {
  -x-size: 100%;
}

/** help */
[data-class~="click"] {
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    display: block;
    -x-size: 100%;
    -x-position: absolute 0 x x 0;
  }
}