
// montserrat
@font-face {
  font-family: 'montserrat-black';
  src: url('fonts/Montserrat-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-bold';
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}

// roboto
@font-face {
  font-family: 'roboto-bold';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto-medium';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto-regular';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}