
/** fonts */
@import './fonts.scss';

/** reset */
@import './reset.scss';

/** assets */
@import './assets.scss';

body {
  color: $black;
  position: relative;
  -x-size: 100vw 100vh;
}

/** classes */
@import './classes.scss';